<div class="col-md-6">
    <table class="table table-striped">
    <thead>
    <tr>
    <th>Product ID</th>
      <th>Name</th>
      <th>Type</th>
      </tr>
    </thead>
    <tbody>
        <tr *ngFor="let product of products">
            <td>{{product.productId}}</td>
            <td>{{product.name}}</td>
            <td>{{product.type}}</td>
            <!-- <td><button class="btn btn-danger" (click)="deleteEmployee(employee)"> Delete Employee</button></td> -->
            </tr>
    </tbody>
      </table>
  
</div>
  <div *ngFor="let product of products">
    <div class="card" style="width:20rem;margin:20px 0 24px 0">
      
      <div class="card-body">
        <h4 class="card-title">{{product.name}}</h4>
        <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>
        <a class="btn btn-primary" style="margin-right: 16px;color:white;" (click)="viewCardInfo(product)">View</a> 
        <a class="btn btn-danger" style="margin-right: 16px;color:white;" (click)="deleteProduct(product)">Delete</a>
      </div>
    </div>
  </div>

