<div class="col-md-6">
    <table class="table table-striped">
    <thead>
    <tr>
    <th>id</th>
      <th>name</th>
      <th>dob</th>
      <th>password</th>
      </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of users">
            <td>{{user.userId}}</td>
            <td>{{user.userName}}</td>
            <td>{{user.userDOB}}</td>
            <td>{{user.userPassword}}</td>
            <!-- <td><button class="btn btn-danger" (click)="deleteEmployee(employee)"> Delete Employee</button></td> -->
            </tr>
    </tbody>
      </table>
  
    </div>